@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-image: linear-gradient(180deg,rgba(2,168,243,.06),rgba(2,168,243,0));
    background-repeat: no-repeat;
    background-position: 100%;
}
.bg-city {
    background-position: -5rem bottom;
    z-index: 0;
    /* position: absolute; */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}
.map-marker {
    background-image: url('/marker.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.map-marker.blue {
    background-image: url('/marker-blue.png');
}
.map-marker.orange {
    background-image: url('/marker-orange.png');
}
.mapboxgl-popup-content {
    font-size: 16px;
}
.mapboxgl-popup-close-button {
    font-size: 20px;
    top: -8px !important;
}
